---
interface Props {
  title: string
  description: string
}
---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={ Astro.props.description } />
    <title>{ Astro.props.title }</title>
  </head>
  <body>
    <slot />
  </body>
</html>